<div class="wallpaper-wrapper">
  <div class=" col-sm-4 offset-md-7 card login-box">
    <div class="card-header text-center">
      <h1>Log In</h1>
    </div>
    <div class="card-body text-center">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Username" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>

        <button mat-button>LOGIN</button>
      </form>

    </div>
  </div>

</div>
